
Code/module1/application/build/main/

Code/module1/application/dist/

Code/module2/application/dist/

Code/module3/application/build/main/

Code/module3/application/dist/

Code/module4/application/build/main/

Code/module4/application/dist/

# All custom files JetBrains IDEs (IntelliJ IDEA, PyCharm, WebStorm, Rider, CLion, PhpStorm, RubyMine, etc.)
.idea/
*.iml
*.ipr
*.iws